#card-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card{
  min-width: 350px;
  max-width: 435px;
  margin-bottom: 50px;
  max-height: 600px;
  /* margin-right: 25px; */

}

.collapsible {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
    border-color: white
}

.collapsible:hover {
    background-color: deepskyblue;
}



.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    border-style: inset;
    border-radius: 30px;
    width: 95%;
    margin: auto
}

#top{
  vertical-align: middle;
  background: url("../splash-image.jpg") no-repeat center ;
  background-size: cover;
  background-blend-mode: lighten;

}

#topHalf{
  height: 300px;
}

#bottomHalf{
  height: 300px;

}

#bottomHalf p{
  color: black;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  padding: 15px
}

h1{
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px black;
}
